<div class="gallery">
    <a href="/img/art/web/20241117.webp" class="gallery-item">
    <img src="/img/art/web/20241117.webp" loading="lazy"/> 
    </a>
    <a href="/img/art/web/20241109.webp" class="gallery-item">
    <img src="/img/art/web/20241109.webp" loading="lazy"/> 
    </a>
    <a href="/img/art/web/20240828.webp" class="gallery-item">
    <img src="/img/art/web/20240828.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20240720.webp" class="gallery-item">
    <img src="/img/art/web/20240720.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20240622.webp" class="gallery-item">
    <img src="/img/art/web/20240622.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20240330.webp" class="gallery-item">
    <img src="/img/art/web/20240330.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20231206.webp" class="gallery-item">
    <img src="/img/art/web/20231206.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20231115.webp" class="gallery-item">
    <img src="/img/art/web/20231115.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20231028.webp" class="gallery-item">
    <img src="/img/art/web/20231028.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20231021.webp" class="gallery-item">
    <img src="/img/art/web/20231021.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230808.webp" class="gallery-item">
    <img src="/img/art/web/20230808.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230723.webp" class="gallery-item">
    <img src="/img/art/web/20230723.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230415.webp" class="gallery-item">
    <img src="/img/art/web/20230415.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230304.webp" class="gallery-item">
    <img src="/img/art/web/20230304.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230129.webp" class="gallery-item">
    <img src="/img/art/web/20230129.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20230106.webp" class="gallery-item">
    <img src="/img/art/web/20230106.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20221215.webp" class="gallery-item">
    <img src="/img/art/web/20221215.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220828.webp" class="gallery-item">
    <img src="/img/art/web/20220828.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220730.webp" class="gallery-item">
    <img src="/img/art/web/20220730.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220711.webp" class="gallery-item">
    <img src="/img/art/web/20220711.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220528.webp" class="gallery-item">
    <img src="/img/art/web/20220528.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220430.webp" class="gallery-item">
    <img src="/img/art/web/20220430.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220427.webp" class="gallery-item">
    <img src="/img/art/web/20220427.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220219.webp" class="gallery-item">
    <img src="/img/art/web/20220219.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220129.webp" class="gallery-item">
    <img src="/img/art/web/20220129.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220125.webp" class="gallery-item">
    <img src="/img/art/web/20220125.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20220113.webp" class="gallery-item">
    <img src="/img/art/web/20220113.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211031.webp" class="gallery-item">
    <img src="/img/art/web/20211031.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211021.webp" class="gallery-item">
    <img src="/img/art/web/20211021.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211011.webp" class="gallery-item">
    <img src="/img/art/web/20211011.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211006.webp" class="gallery-item">
    <img src="/img/art/web/20211006.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211004.webp" class="gallery-item">
    <img src="/img/art/web/20211004.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20211003.webp" class="gallery-item">
    <img src="/img/art/web/20211003.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210929.webp" class="gallery-item">
    <img src="/img/art/web/20210929.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210927.webp" class="gallery-item">
    <img src="/img/art/web/20210927.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210917.webp" class="gallery-item">
    <img src="/img/art/web/20210917.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210911.webp" class="gallery-item">
    <img src="/img/art/web/20210911.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210829.webp" class="gallery-item">
    <img src="/img/art/web/20210829.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210828.webp" class="gallery-item">
    <img src="/img/art/web/20210828.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210827.webp" class="gallery-item">
    <img src="/img/art/web/20210827.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210819.webp" class="gallery-item">
    <img src="/img/art/web/20210819.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210817.webp" class="gallery-item">
    <img src="/img/art/web/20210817.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210811.webp" class="gallery-item">
    <img src="/img/art/web/20210811.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210802.webp" class="gallery-item">
    <img src="/img/art/web/20210802.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210729.webp" class="gallery-item">
    <img src="/img/art/web/20210729.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210728.webp" class="gallery-item">
    <img src="/img/art/web/20210728.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210723.webp" class="gallery-item">
    <img src="/img/art/web/20210723.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210709.webp" class="gallery-item">
    <img src="/img/art/web/20210709.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210707.webp" class="gallery-item">
    <img src="/img/art/web/20210707.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210701.webp" class="gallery-item">
    <img src="/img/art/web/20210701.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210630.webp" class="gallery-item">
    <img src="/img/art/web/20210630.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210629.webp" class="gallery-item">
    <img src="/img/art/web/20210629.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210622.webp" class="gallery-item">
    <img src="/img/art/web/20210622.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210531.webp" class="gallery-item">
    <img src="/img/art/web/20210531.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210529.webp" class="gallery-item">
    <img src="/img/art/web/20210529.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210527.webp" class="gallery-item">
    <img src="/img/art/web/20210527.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210526.webp" class="gallery-item">
    <img src="/img/art/web/20210526.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210525.webp" class="gallery-item">
    <img src="/img/art/web/20210525.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210524.webp" class="gallery-item">
    <img src="/img/art/web/20210524.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210523.webp" class="gallery-item">
    <img src="/img/art/web/20210523.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210521.webp" class="gallery-item">
    <img src="/img/art/web/20210521.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210519.webp" class="gallery-item">
    <img src="/img/art/web/20210519.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210518.webp" class="gallery-item">
    <img src="/img/art/web/20210518.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210517.webp" class="gallery-item">
    <img src="/img/art/web/20210517.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210515.webp" class="gallery-item">
    <img src="/img/art/web/20210515.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210514.webp" class="gallery-item">
    <img src="/img/art/web/20210514.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210512.webp" class="gallery-item">
    <img src="/img/art/web/20210512.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210505.webp" class="gallery-item">
    <img src="/img/art/web/20210505.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210503.webp" class="gallery-item">
    <img src="/img/art/web/20210503.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210502.webp" class="gallery-item">
    <img src="/img/art/web/20210502.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210501.webp" class="gallery-item">
    <img src="/img/art/web/20210501.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210430.webp" class="gallery-item">
    <img src="/img/art/web/20210430.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210429.webp" class="gallery-item">
    <img src="/img/art/web/20210429.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210428.webp" class="gallery-item">
    <img src="/img/art/web/20210428.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210427.webp" class="gallery-item">
    <img src="/img/art/web/20210427.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210426.webp" class="gallery-item">
    <img src="/img/art/web/20210426.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210425.webp" class="gallery-item">
    <img src="/img/art/web/20210425.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210424.webp" class="gallery-item">
    <img src="/img/art/web/20210424.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210423.webp" class="gallery-item">
    <img src="/img/art/web/20210423.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210422.webp" class="gallery-item">
    <img src="/img/art/web/20210422.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210421.webp" class="gallery-item">
    <img src="/img/art/web/20210421.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210418.webp" class="gallery-item">
    <img src="/img/art/web/20210418.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210417.webp" class="gallery-item">
    <img src="/img/art/web/20210417.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210416.webp" class="gallery-item">
    <img src="/img/art/web/20210416.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210413.webp" class="gallery-item">
    <img src="/img/art/web/20210413.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210411.webp" class="gallery-item">
    <img src="/img/art/web/20210411.webp" loading="lazy"/>
    </a>
    <a href="/img/art/web/20210409.webp" class="gallery-item">
    <img src="/img/art/web/20210409.webp" loading="lazy"/>
    </a>
    <script>
    // Initialize Masonry
    var elem = document.querySelector('.gallery');
    var msnry = new Masonry(elem, {
      itemSelector: '.gallery-item',
      columnWidth: '.gallery-item',
      percentPosition: true,
      gutter: 20,
    });

    // Initialize SimpleLightbox
    var lightbox = new SimpleLightbox('.gallery a', {
      captions: true,
      captionSelector: 'img',
      captionType: 'attr',
      overlay: true,
    });
  </script>
    </div>

