p {
    font-size: 0.9rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
}
.main.post{
    max-width: 1700px !important;
    width: 90vw !important;
    padding: 0;
}
.type-charts strong{
    
    color: rgb(233, 125, 23);
}
.type-charts em{
    color:rgb(126, 45, 219);
    font-weight: 600;
}


.horizontal-line{
    width: 100%;
    height: 2px;
    background-color: rgba(196, 196, 196, 0.705);
    
    margin: 10px 0;
    margin-bottom: 15px;
}
.horizontal-line::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(150, 0, 209);
    position: relative; 
    z-index: -1;
    top: -1px;
    animation:  wave 5s infinite normal;
    filter: blur(0.05em);
}
.horizontal-line::before{
    content: '';
    display: block;
    width: 100%;
    top: -1px;
    height: 2px;
    background-color: rgb(0, 194, 42);
    position: relative; 
    animation:  wave 6s infinite reverse;
    filter: blur(0.05em);
    z-index: -2;
}

/*--------custom navbar--------*/
.home-button{
    pointer-events: true;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
/* ------ dynapanels ------- */
.title-bar{
    padding-top: 10px;
    padding-bottom: 20px;
}
.dynaPanel-container{
    display: flex;
    height: 75vh;
    width: 100%;
    /* background-color: aqua; */
    gap: 10px;
    transition: all 0.1s;
}
.layout-home .dynaPanel-container{
    padding-left: 0vw;
    padding-right: 0vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in;
    
}
.layout-art .dynaPanel-container{
    padding-left: 0vw;
    padding-right: 0vw;
    width: 83vw;  
}
.layout-portfolio .dynaPanel-container{
    padding-left: 0vw;
    padding-right: 0vw;
    width: 65vw;  
}
.layout-cv .dynaPanel-container{
    padding-left: 0vw;
    padding-right: 0vw;
    width: 65vw;  
    justify-content: center;
    
}
.dynaPanel{
    transition: all 0.4s ease;
    border-radius: 7px;
    padding: 10px;
}

.dynaPanel-right{
    background-color: #161616;
}

.layout-art .dynaPanel-left{
    flex:  0.16;
}
.layout-art .dynaPanel-right{
    flex: 0.84;
    overflow-y: scroll;
    border-radius: 0px;
}
.layout-home .dynaPanel-left{
    flex: 0.6;
}
.layout-home .dynaPanel-right{
    flex: 0.3;
    height: fit-content;
    padding-bottom: 15px;
}
.layout-portfolio .dynaPanel-left{
    flex: 0.3;
}
.layout-portfolio .dynaPanel-right{
    flex: 0.7;
    
}
.layout-cv .dynaPanel-left{
    flex: 0.65;
    overflow: scroll;
    padding-right: 1%;
}
.layout-cv .dynaPanel-right{
    flex: 0.3;
}


/* ---------- GALLERY ----------- */
.gallery{
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    margin-right: -5px;
    width: 100%; 
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in;
    animation-delay: 0.3s;
}
.gallery-item{
    width: 32%; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
}
.sl-overlay{
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
    opacity: 100% !important;
}
.sl-navigation button, .sl-counter, .sl-close{
    color: white !important;
    opacity: 60%;
}

/* ----------- CV ----------- */

.layout-cv p{
   padding-right: 10%;
    text-align: left;
    
    margin-bottom: 25px;
}
.layout-cv h2{

    font-size: 1.5em;
}
.exp-title-container{
    margin-bottom: 10px;
}
.exp-workplace{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}
.exp-detail{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.7em;
}

/* -------- hero section ------- */

.hero{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-container{
    display: flex;
    width: 100%;
    /* background-color: #161616; */
    
    height: 350px;
}
.hero-left{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-left h1{
    font-size: clamp(1rem, 10vw, 4.5rem);    
    text-wrap: nowrap;
    transform: scale(0.6);
    animation: scaleIn 0.2s forwards;
}
.hero-left p{
    font-size: 1.5rem;
    letter-spacing: 0.13em;
}
.hero-right{
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.hero-right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #161616; */
    padding: 25px;
    border-radius: 7px;
}
.hero-image-container{
    max-width: 150px;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}
.hero-image{
    max-width: 100%;
    max-height: 25vh;
}
.hero-description{
    margin-top: 10px;
    text-align: left;
    font-size: clamp(0.7rem, 1.1vw, 1rem); 
    
}
.social-icons{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    position: relative;

}


/* ----- Chromatic Aberration ----- */

.chromatic-aberration {
    position: relative;
    width: fit-content;
}
.ca-text-purple,
.ca-text-green 
{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0.01em);
}

.ca-green,
.ca-purple {
    position: absolute;
    top: 0;
    left: 0; 
    opacity: 100%;
    filter: blur(0.02em);
    
}
/* Purple duplicate */
.ca-text-purple {
    color: rgb(150, 0, 209);
    animation: text-distort-purple 4s infinite; 
    z-index: -1;
}
.ca-purple{
    /* background-color: purple;*/
    animation: distort-purple 4s infinite; 
    z-index: -1;
}
@keyframes text-distort-purple{
    0%, 100%{
        transform: translate(-1px, 1px) skew(-3deg);
    }
    25%{
        transform: translate(-1px, -1px) skew(2deg);
    }
    50%{
        transform: translate(1px, -1px) skew(4deg);
    }
    75%{
        transform: translate(1px, 1px) skew(-2deg);
    }
}
@keyframes distort-purple{
    0%, 100%{
        transform:scale(1, 1.01) translate(-1px, 1px) skew(-2deg);
    }
    25%{
        transform: translate(1px, 2px) skew(2deg);
    }
    50%{
        transform: scale(1, 1.01) translate(1px, 2px) skew(2deg);
    }
    75%{
        transform: translate(-2px, 1px) skew(-2deg);
    }
}

/* Green duplicate */
.ca-text-green {
    color: rgb(0, 194, 42);
    animation: text-distort-green 6s infinite;  
    z-index: -2;
}
.ca-green {
    /*background-color: green; */
    animation: distort-green 6s infinite;  
    z-index: -2;
}

@keyframes text-distort-green{
    0%, 100%{
        transform: translate(2px, -1px) skew(2deg);
    }
    25%{
        transform: translate(1px, 2px) skew(-2deg);
    }
    50%{
        transform: translate(-1px, 1px) skew(-3deg);
    }
    75%{
        transform: translate(-2px, -1px) skew(3deg);
    }
}
@keyframes distort-green{
    0%, 100%{
        transform: translate(2px, 2px) skew(2deg);
    }
    25%{
        transform: scale(1, 1.01) translate(-1px, 1px) skew(-1deg);
    }
    50%{
        transform: translate(-1px, 2px) skew(-3deg);
    }
    75%{
        transform: scale(1, 1.01) translate(1px, 1px) skew(1deg);
    }
}

@keyframes fadeIn {
    to { opacity: 1; }
  }

  @keyframes scaleIn {
    to { transform: scale(1);}
  }

  @keyframes wave {
    0%, 100%{
        transform: translate(0px, 0px)
    }
    50%{
        transform: translate(0px, 1px)
    }
  }