{{ define "main" }}
<section class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>RVDEKID</h1>
      <p>Jimi Kampman, Finland</p>
    </div>
    <div class="hero-right">
      <div class="hero-image-container">
      <img class="hero-image" src="/img/omakuva.jpg" alt="hero image">
      </div>
      <p class="hero-description">Graphic / web designer from Rovaniemi, Finland. <br> Painter, illustrator after work.</p>
    </div>
  </div>
    {{ partial "customSocialIcons.html" . }}
  
</section>
{{ end }}
