{{ define "main" }}
<section class="hero">
    <div class="title-bar">
        <h1 class="chromatic-aberration"> </h1>
    </div>
    <div class="dynaPanel-container">
    <div id="left-panel" class="dynaPanel dynaPanel-left">
    </div>
    <div id="right-panel" class="dynaPanel dynaPanel-right">

    </div>
  </div>

  <template id="home-left-template">
    {{ partial "dyna-panels/home-left.html" . }}
  </template>
  <template id="home-right-template">
    {{ partial "dyna-panels/home-right.html" . }}
  </template>
  <template id="art-left-template">
    {{ partial "dyna-panels/art-left.html" . }}
  </template>
  <template id="art-right-template">
    {{ partial "dyna-panels/art-right.html" . }}
  </template>
  <template id="portfolio-left-template">
    {{ partial "dyna-panels/portfolio-left.html" . }}
  </template>
  <template id="portfolio-right-template">
    {{ partial "dyna-panels/portfolio-right.html" . }}
  </template>
  <template id="cv-left-template">
    {{ partial "dyna-panels/cv-left.html" . }}
  </template>
  <template id="cv-right-template">
    {{ partial "dyna-panels/cv-right.html" . }}
  </template>
  
</section>
{{ end }}
